---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Casas de madera">
	<main style="padding: 4rem">
		<h1>Casas de madera</h1>
		<p>Aquí irá el catálogo de casas de madera.</p>
	</main>
</Layout>
