---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Casas modulares">
	<main style="padding: 4rem">
		<h1>Casas modulares</h1>
		<p>Aquí irá el catálogo de casas modulares.</p>
	</main>
</Layout>
